{% extends "base.html.twig" %}

{% block title %}Ajouter un nouveau participant {% endblock %}

{% block body %}
<h3>Ajouter un nouveau participant </h3>
<br>
<form action="http://logitud/index/epreuve/{{ epreuve.lieu }}/{{ epreuve.date }}/{{ epreuve.id }}/participantAjoute" method="post">
    <div>
        <label for="prenom">Prénom du participant :</label>
        <input type="text" id="prenom" name="prenom">
    </div>
        <br>
    <div>
        <label for="nom">Nom du participant :</label>
        <input type="text" id="nom" name="nom">
    </div>
    <div>
        <label for="dateNaissance">Date de naissance du participant :</label>
        <input type="text" id="dateNaissance" name="dateNaissance">
    </div>
        
    <div>
        <label for="categorie">Catégorie du participant : </label>
        <select name="categorie" id="categorie">
            <option value="M1">M1</option>
            <option value="M2">M2</option>
            <option value="M3">M3</option>
            <option value="Senior">Senior</option>
            <option value="Veteran">Veteran</option>
            <option value="Snow">Snow</option>
            <option value="NouvelleGlisse">NouvelleGlisse</option>
        </select>
    </div>

    <div>
        <br>
        
        <input type="submit" value="Valider le participant">

    </div>
</form>
<br>
{# <a href="http://logitud/index/ajouterEpreuve/epreuveAjoutee">Créer la nouvelle épreuve</a>
<br> #}
<br>
<a href="http://logitud/index/epreuves">Retour aux épreuves</a>
<br>
<a href="http://logitud/">Retour au menu</a>
{% endblock %}
