{% extends "base.html.twig" %}

{% block title %}Épreuve ajoutée !{% endblock %}

{% block body %}
<h3>Votre épreuve a bien été créée</h3>
<br>
<a href="http://logitud/index/epreuves">Retour aux épreuves</a>
<br>
<a href="http://logitud/">Retour au menu</a>
{% endblock %}
